/* 
CSS Set up / Reset 
*/

:root {
  --Pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
  --White-Smoke: hsl(0, 0%, 60%, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
}

p {
  color: var(--Very-Dark-Cyan);
}

a {
  display: inline-block;
  color: red;
  text-decoration: none;
}

h1,
h2 {
  color: var(--Very-Dark-Cyan);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

img,
button {
  display: inline-block;
}

.huddle-wrapper {
  max-width: 90rem;
  margin: 0 auto;
  width: 1440px;
}

/* ========== NAVAGATION / HERO SECTION ========== */
.huddle-header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: var(--Very-Pale-Cyan);
  background-repeat: no-repeat;
  padding: 2rem;
}

.huddle-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.huddle-nav button {
  padding: 0.5rem 3.2rem;
  background-color: hsl(0, 1%, 100%);
  border-radius: 0.9rem;
  border: solid #fff;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.huddle-nav img {
  max-width: 10rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.hero {
  align-self: center;
  margin-bottom: 4rem;
}

.hero h1 {
  font-size: 2rem;
  max-width: 25rem;
}

.hero p {
  width: 32rem;
  margin-top: 1rem;
}

.hero button {
  text-align: center;
  text-decoration: none;
  background-color: var(--Pink);
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 2.2rem;
  padding: 1rem 4.4rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 2rem;
}

.header-image {
  display: flex;
  justify-content: end;
}

.header-image img {
  max-width: 90%;
}

/* ========= HUDDLE BENEFITS ========== */
.huddle-container {
  display: flex;
  padding: 2.5rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: hsl(0, 1%, 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* HUDDLE GROWH */
.growth-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  flex: 1 1 70%;
  margin-left: 5rem;
}

.growth-text p {
  color: var(--White-Smoke);
}

.growth-image {
  display: flex;
  justify-content: flex-end;
}
.growth-image img {
  max-width: 70%;
}

.huddle-growth {
  margin-top: 9rem;
}

/* HUDDLE FLOW */
.huddle-flow {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.flow-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  flex: 1 1 70%;
}

.flow-text p {
  color: var(--White-Smoke);
}

.flow-image img {
  max-width: 65%;
  margin-left: 5rem;
}

/* HUDDLE USERS */
.huddle-users {
  margin-top: 2rem;
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  flex: 1 1 65%;
  margin-left: 5rem;
}

.user-text p {
  color: var(--White-Smoke);
}

.user-image {
  display: flex;
  justify-content: flex-end;
}
.user-image img {
  max-width: 70%;
}

.huddle-cta {
  border-radius: 15px;
  background-color: hsl(0, 1%, 100%);
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.1);
  color: var(--Very-Dark-Cyan);
}
