/* ---- CSS Set up / Reset ---- */
:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --White-Smoke: hsl(0, 0%, 60%, 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--Very-Dark-Cyan);
}

.huddle-container {
    max-width: 1440px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding: 25px;
    background-image: url(./images/bg-hero-mobile.svg);
    background-color: var(--Very-Pale-Cyan);
    background-repeat: no-repeat;
}

.nav-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 170px;
    color: var(--Very-Dark-Cyan);
    background-color: hsl(0, 1%, 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
}
.header {
    display: flex;
    justify-content: center;
}
.huddle-logo img {
    width: 50%;
    margin-right: 100px;
}
.hero {
    margin-top: 50px;
    color: var(--Very-Dark-Cyan);
}

.hero p {
    margin-top: 25px;
}
.hero img {
    margin-top: 50px;
    width: 100%;
}
.hero button {
    background-color: var(--Pink);
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 35px;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    margin-top: 35px;
}
.hero-maintext {
    margin-top: 35px;
    text-align: center;
}

.huddle-logo {
    margin-top: 10px;
}

.huddle-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.huddle-growth {
    margin-bottom: 35px;
    padding: 15px;
    height: 480px;
    width: 300px;
    color: var(--Very-Dark-Cyan);
    background-color: hsl(0, 1%, 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.huddle-image img {
    display: flex;
    width: 250px;
    margin-left: 25px;
    margin-bottom: 60px;
    margin-top: 50px;
}
.growth-text {
    font-size: 15px;
    text-align: center;
    width: 300px;
}
.growth-text h2 {
    margin-bottom: 15px;
}

.huddle-flow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    padding: 15px;
    height: 480px;
    width: 300px;
    color: var(--Very-Dark-Cyan);
    background-color: hsl(0, 1%, 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.flow-image img {
    width: 250px;
}
.flow-text {
    align-items: center;
    font-size: 15px;
    text-align: center;
    width: 270px;
    margin-top: 80px;
}
.flow-text p {
    margin-top: 25px;
}

.huddle-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 220px;
    padding: 15px;
    height: 480px;
    width: 300px;
    color: var(--Very-Dark-Cyan);
    background-color: hsl(0, 1%, 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.user-image img {
    width: 250px;
}

.user-text {
    align-items: center;
    font-size: 15px;
    text-align: center;
    width: 260px;
    margin-top: 50px;
}
.user-text p {
    margin-top: 25px;
}

.cta {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
    margin-top: -100px;
    height: 180px;
    width: 350px;
    background-color: hsl(0, 1%, 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.cta-text  {
    text-align: center;
    font-size: 12px;
    color: var(--Very-Dark-Cyan);
}

.cta-text button {
    background-color: var(--Pink);
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 35px;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    margin-top: 25px;
}

.footer-container {
    background-color: var(--Very-Dark-Cyan);
    color: #fff;
    height: 865px;
}

.footer-container a {
    text-decoration: none;
    color: #fff;
}

.huddle-contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
    
}

.huddle-footerlogo {
    margin-top: 60px;
}

.huddle-footerlogo img {
    width: 50%;
    margin-top: 110px;
}

.faq {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25px;
    gap: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-left: 25px;
    gap: 15px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
}

.facebook {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.huddle-location a img,
.huddle-number a img,
.huddle-email a img {
    margin-left: 3px;
}

.huddle-location p {
    margin-left: 35px;
    margin-top: -29px;
    width: 350px;
}

.huddle-number p, .huddle-email p {
    margin-left: 40px;
    margin-top: -25px;
    width: 350px;
}

.huddle-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.attribution {
    text-align: center;
    font-size: 12px;
    margin-top: 60px;
}

.attribution a {
    color: var(--Pink);
}

@media only screen and (min-width: 550px) {
    .hero-maintext {
        text-align: start;
    }

    .hero-maintext h2 {
        width: 350px;
        font-size: 30px;
        margin-left: 30px;
    }

    .hero-maintext p {
        margin-left: 30px;
        width: 480px;
    }

    .hero button {
        margin-left: 30px;
    }

    .hero img {
        margin-left: 650px;
        margin-top: -390px;
        width: 50%;
    }

    .huddle-logo {
        margin-right: 800px;
    }

    .huddle-logo img {
        width: 50%;
        margin-right: 120px;
        margin-bottom: 90px;
    }

    .huddle-growth {
        color: var(--Very-Dark-Cyan);
        height: 400px;
        width: 1200px;
    }

    .huddle-image img {
        width: 35%;
        margin-left: 720px;
        margin-top: 30px;
    }

    .growth-text {
        margin-top: -305px;
        margin-left: 80px;
        text-align: start;
        width: 400px;
    }

    .huddle-flow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        color: var(--Very-Dark-Cyan);
        height: 400px;
        width: 1200px;
    }
    
    .flow-image img, .flow-text  {
        margin-top: 100px;
    }

    .flow-image img {
        width: 50%;
        margin-top: 60px;
        margin-left: 60px;
    }

    .flow-text {
        font-size: 15px;
        text-align: start;
        width: 400px;
        margin-top: 120px;
        margin-right: 60px;
    }

    .flow-text p {
        width: 420px;
    }

    .huddle-user {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        color: var(--Very-Dark-Cyan);
        height: 400px;
        width: 1200px;
    }

    .user-text {
        margin-top: 0px;
        text-align: start;
        width: 700px;
        margin-left: 100px;
    }

    .user-image {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .user-image img {
        width: 70%;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        height: 530px;
    }

    .cta {
        position: absolute;
        height: 210px;
        width: 650px;
        margin-left: 440px;
    }

    .cta-text h2 {
        font-size: 25px;
    }

    .cta-text button {
        padding: 20px 85px;
    }

    .huddle-contact {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 90px;
    }

    .huddle-footerlogo {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .huddle-location p {
        margin-left: 30px;
        margin-top: -29px;
        width: 350px;
    }

    .huddle-number p, .huddle-email p {
        margin-left: 35px;
        margin-top: -25px;
        width: 350px;
    }

    .huddle-support {
        display: flex;
        margin-top: 200px;
        margin-left: 100px;
    }

    .faq {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 110px;
        gap: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 110px;
        gap: 20px;
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-left: 160px;
        margin-bottom: 100px;
        gap: 15px;
    }

    .huddle-copyright p {
        margin-top: 420px;
    margin-left: -67px;
    }

    .attribution {
        position: absolute;
        text-align: center;
        font-size: 10px;
        margin-top: 500px;
        margin-left: 600px;
    }
}
